/* styles */
/* called by your view template */

* {
  box-sizing: border-box;
}

#language-switcher {
  margin: 50px 0;
}

#language-switcher a {
  padding: 10px;
}

#language-switcher a.active {
  border: 5px solid black;
}

.loading * {
  display: none;
}

.loading::before {
  content: 'Loading...';
}

.blacked-out-input-container .choices {
  background-color: white;
  padding: 5px;
  margin: 5px;
}

.blacked-out-input-container .choices .choice {
  border: 2px solid blue;
  padding: 2px;
  margin: 1px;
  cursor: pointer;
}




body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-style: italic;
  color: #373fff;
}

.bold {
  font-weight: bold;
}

main {
  background-color: orange;
  padding: 20px;
}

p {
  max-width: 600px;
}

input {
  display: block;
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid lightgrey;
  border-radius: 3px;
  font-size: 16px;
}

button {
  font-size: 16px;
  border-radius: 3px;
  background-color: lightgrey;
  border: 1px solid grey;
  box-shadow: 2px 2px teal;
  cursor: pointer;
}

button:hover {
  background-color: yellow;
}

button:active {
  box-shadow: none;
}

li {
  margin-bottom: 5px;
}

footer {
  margin-top: 50px;
  padding-top: 25px;
  border-top: 1px solid lightgrey;
}
